@model ServiceResult<GameResult>

@if (Model.IsSuccess && Model.Data is not null)
{
    @if (Model.Data.PositiveGameEvent is not null)
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">@Model.Data.PositiveGameEvent.Name</h4>
            <p>@Model.Data.PositiveGameEvent.Description</p>
            <hr>
            @if (Model.Data.PositiveGameEvent.Money != 0 && Model.Data.PositiveGameEvent.Experience != 0)
            {
                <p class="mb-0">Money gained: €@Model.Data.PositiveGameEvent.Money<br />Experience gained: @Model.Data.PositiveGameEvent.Experience</p>
            }
            @if (Model.Data.PositiveGameEvent.Experience == 0 && Model.Data.PositiveGameEvent.Money != 0)
            {
                <p class="mb-0">Money gained: €@Model.Data.PositiveGameEvent.Money</p>
            }
            @if (Model.Data.PositiveGameEvent.Money == 0 && Model.Data.PositiveGameEvent.Experience != 0)
            {
                <p class="mb-0">Experience gained: @Model.Data.PositiveGameEvent.Experience</p>
            }

            
        </div>
    }
    @if (Model.Data.NegativeGameEvent is not null)
    {
        <!-- ..... -->
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">@Model.Data.NegativeGameEvent.Name</h4>
            <p>@Model.Data.NegativeGameEvent.Description</p>
            <hr>
            <p class="mb-0">defense loss todo</p>
        </div>
    }
    @if (Model.Data.NegativeGameEventMessages is not null)
    {
        foreach (var message in Model.Data.NegativeGameEventMessages)
        {
            <div class="alert alert-warning" role="alert">
                @message.Message
            </div>
        }
    }
    @if (Model.Messages != null)
    {
        @foreach (var message in Model.Messages)
        {
            <div class="alert alert-dark" role="alert">
                @message.Message
            </div>
        }
    }
}