@model ServiceResult<GameResult>

@if (Model.IsSuccess && Model.Data is not null)
{
    @if (Model.Data.PositiveGameEvent is not null)
    {
        @Model.Data.PositiveGameEvent.Name
        @Model.Data.PositiveGameEvent.Description
        @Model.Data.PositiveGameEvent.Experience
        @Model.Data.PositiveGameEvent.Money
    }
    @if (Model.Data.NegativeGameEvent is not null)
    {
        @Model.Data.NegativeGameEvent.Name
        @Model.Data.NegativeGameEvent.Description
        <!-- ..... -->
    }
    @if (Model.Data.NegativeGameEventMessages is not null)
    {
        foreach (var message in Model.Data.NegativeGameEventMessages)
        {
            <p>message.Message</p>
        }
    }
    @if (Model.Messages != null)
    {
        @foreach (var message in Model.Messages)
        {
            <p>@message.Message</p>
        }
    }
}