@model IList<Item>

<h4>Shop</h4>

<div class="row g-2">
    <h5>Your current balance: <b>€ @ViewData["Money"]</b></h5>
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card p-2">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">€ @item.Price</h6>
                    <p class="card-text">@item.Description</p>
                    <button class="btn btn-success buy-button" data-itemid="@item.Id">Buy</button>
                </div>
                <div class="card-footer">
                    @if (item.Attack is not 0)
                    {
                        <p>Attack: @item.Attack</p>
                    }
                    @if (item.Defense is not 0)
                    {
                        <p>Defense: @item.Defense</p>
                    }
                    @if (item.Fuel is not 0)
                    {
                        <p>Fuel: @item.Fuel</p>
                    }
                </div>
            </div>
        </div>
    }
</div>